torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
diffusers==0.33.1
transformers==4.51.3
qwen_vl_utils==0.0.11
scikit-image==0.25.2
scikit-learn==1.6.1
numpy==1.26.4
timm==1.0.15
pycocotools==2.0.8
addict
albumentations
decord
easydict
ftfy
insightface
kornia
lap
loguru
modelscope
moviepy
ninja
onnxruntime-gpu
openai
omegaconf
opencv-python
packaging
pandas
pycocotools
pytorch_lightning
regex
scenedetect
simple_lama_inpainting
supervision
tenacity
vllm
webdataset
yapf
git+https://github.com/openai/CLIP.git

# pip install flash-attn --no-build-isolation
# pip install flashinfer-python -i https://flashinfer.ai/whl/cu124/torch2.6