torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
decord
opencv-python
diffusers
transformers
insightface
onnxruntime-gpu
qwen_vl_utils
vllm
modelscope
packaging
ninja
tenacity
openai
omegaconf
lap
loguru
moviepy
supervision
scenedetect
simple_lama_inpainting
addict
pycocotools
kornia
scikit-image
scikit-learn
easydict
pytorch_lightning
timm
ftfy
yapf
regex
pandas
albumentations
webdataset
simple_lama_inpainting
git+https://github.com/openai/CLIP.git

# pip install flash-attn --no-build-isolation
# pip install flashinfer-python -i https://flashinfer.ai/whl/cu124/torch2.6